/* reset */
/* 初始化浏览器默认值 */
html, body, div, p, form, ul, ol, dl, dt, dd, h1, h2, h3, h4, h5, h6 {
	padding: 0;margin: 0;
}
html,body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
	scroll-behavior: smooth; word-break:break-word;word-wrap:break-word;margin: 0 auto;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-overflow-scrolling: touch;
}
ul, ol {
	list-style: none;
}
input[type=number]::-webkit-inner-spin-button,  
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; appearance: none; margin: 0; 
}
label {
	cursor: pointer;
}
input[type="radio"], input[type="checkbox"] {
	margin: 0 3px;
}
/* for modern browsers */
img {
	border: none; vertical-align: middle;
}
table {
	border-collapse: collapse;
}
td, th {
	text-align: center;
}

::-webkit-input-placeholder{
	color: #D8DCDC;
}

/* 编辑器 */
.lm-ui {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.lm-ui-col {
  height: 100%;
  overflow-y: auto;
}
.lm-ui-folder {
  width: 200px;
  font-size: 16px;
}
.lm-ui-editor {
  width: 800px;
  overflow-y: auto;
}
.lm-ui-result {
}
.lm-editor {
  height: 100%;
}
.lm-drag-bar {
  width: 5px;
  height: 100%;
  cursor: ew-resize;
  /* background-color: rgba(0,0,0,.54); */
}

/* 目录 */
.tree-list {
  padding: 10px;
  padding-left: 5px;
  padding-bottom: 20px;
}
.item-wrap {
  position: relative;
  display: flex;
  height: 30px;
  flex-direction: row;
  align-items: center;
  user-select: none;
  border-radius: 4px;
}
.item-wrap.is-file {
  padding-left: 5px;
}
.item-wrap.active {
  color: #1867c0 !important;
}
.item-wrap.active:before {
  opacity: .12;
}
.item-wrap:before {
  background-color: currentColor;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 4px;
  transition: .3s cubic-bezier(.25,.8,.5,1);
}
.item-wrap:hover {
  background-color: rgb(238,238,238, 0.5);
}
.item-text {
}
.item-folder-list {
  padding-left: 22px;
}

/* 字体 */
.mdi {
  color: rgba(0,0,0,.54);
  font-size: 22px;
  margin-right: 6px;
}
.mdi-folder, .mdi-folder-open {
  /* font-size: 22px; */
  /* margin-right: 6px; */
}
